<div class="uc-new-user-form">
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <div class="form-group">
        <label class="h5" for="firstName">First Name</label>
        <input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="First Name">
        <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div class="form-group">
        <label class="h5" for="lastName">Last Name</label>
        <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <div class="form-group">
        <label class="h5" for="age">Age</label>
        <input type="text" class="form-control" th:field="*{age}" id="age" placeholder="Age">
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </div>
    <div class="form-group">
        <label class="h5" for="email">Email</label>
        <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email">
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div class="form-group">
        <label class="h5" for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div class="form-group">
        <label class="h5" for="roles">Role</label>
        <select multiple class="form-control" th:field="*{roles}" id="roles">
            <option value="2">ADMIN</option>
            <option value="1">USER</option>
        </select>
    </div>
    <button type="button" class="fn-btn-add-new-user btn btn-success">Add new user</button>
</form>
</div>