<div class="uc-new-user-form" >
<form class="form-new-user" th:method="POST" th:action="@{/admin/}" novalidate>
    <div class="form-group">
        <label class="h5" for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" id="firstName"
               placeholder="First Name" required pattern="^[a-zA-Zа-яА-Я]{2,30}$">
        <div class="invalid-feedback">First Name should not be empty, and should be between 2 and 30
            characters.
        </div>
    </div>
    <div class="form-group">
        <label class="h5" for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="lastName"
               value="" placeholder="Last Name" required pattern="^[a-zA-Zа-яА-Я]{2,30}$">
        <div class="invalid-feedback">Last Name should not be empty, and should be between 2 and 30
            characters.
        </div>
    </div>
    <div class="form-group">
        <label class="h5" for="age">Age</label>
        <input min="0" max="99" type="number" class="form-control"  name="age" id="age"
               value="0" placeholder="Age" required pattern="^\d{1,2}$">
        <div class="invalid-feedback">Age should not be empty, and should be greater than 0</div>
    </div>
    <div class="form-group">
        <label class="h5" for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email"
               value="" placeholder="Email"  required pattern="^\S+@\S+\.\S+">
        <div class="invalid-feedback">Email should not be empty.</div>
    </div>
    <div class="form-group">
        <label class="h5" for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password"
               value="" placeholder="Password" required>
        <div class="invalid-feedback">Password should not be empty.</div>
    </div>
    <div class="form-group">
        <label class="h5" for="roles">Role</label>
        <select multiple class="form-control" name="roles" id="roles" value="1" required>
            <option value="2">ADMIN</option>
            <option class="active" value="1">USER</option>
        </select>
        <div class="invalid-feedback">At least one role must be selected.</div>
    </div>
    <button type="submit" class="fn-btn-add-new-user btn btn-success">Add new user</button>
</form>
</div>