<div class="sidenav" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <ul class="nav nav-pills flex-column">
        <li sec:authorize="hasRole('ADMIN')"><a class="left-link nav-link active" href="javascript:void(0);">Admin</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a class="left-link nav-link" href="javascript:void(0);" th:attr="data-id=${id}">User</a></li>
        <li sec:authorize="!hasRole('ADMIN')"><a class="left-link nav-link active" href="javascript:void(0);" th:attr="data-id=${id}">User</a></li>
    </ul>
</div>
